body{
    background-color: rgb(231, 231, 231);
    box-sizing: border-box;
    font-family: Poppins, Arial;
    padding-left: 150px;
    padding-right: 100px;
    padding-bottom: 150px;
}
h1{
    font-weight: 600;
}
.add-question-button{
   color: rgb(250, 125, 125);
    border: 2px solid rgb(250, 125, 125);
    width: 20%;
    height: 40px;
    background-color: transparent;
    border-radius: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transform: all 2s;
    position: relative;
}
.add-question-button:hover{
background-color: rgb(250, 125, 125);
color: black;
bottom: 7px;
box-shadow: 2px 2px 10px black;
}
#question-box{
    border: 1px solid rgb(250, 125, 125);
    width: 35%;
    padding: 20px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}   
textarea{
    height: 40px;
    width: 100%;
    border-radius: 3px;
    font-size: 18px;
    padding-top: 15px;
    margin-bottom: 5%;
    overflow-y: hidden;
}
#question,#answer{
    border-color: rgb(250, 125, 125);
}

textarea:focus {
    outline: 2px solid rgb(24, 24, 248);
    border: none;
}
textarea::placeholder{
    padding-left: 7px;
    padding-top: 5px;
    font-size: 16px;
    
}
label{
    font-weight: 600;
    font-size: 18px;
}
.save-button{
    width: 50%;
    height: 40px;
    border: 2px solid green;
    border-radius: 20px;
    background-color: transparent;
    color: green;
    position: relative;
    cursor: pointer;
    
}
.save-button:hover{
background-color: green;
color: black;
bottom: 7px;
box-shadow: 2px 2px 10px black;
}
#X{
    color: rgb(223, 219, 219);
    border: none;
    text-align: center;
    width: 25px;
    cursor: pointer;
   border-radius: 3px;
    background-color: red;
    font-weight: 800;
    align-self: end;
}
.demo-card{
    border:1px solid rgb(204, 203, 203);
    box-sizing: border-box;
    border-radius: 7px;
    padding: 15px;
    /* width: 30%; */
    background-color: white;
    position: relative;
}
.demo-card:hover{
    box-shadow: 1px 1px 15px rgb(146, 146, 146);
    bottom: 7px;
}
.question-demo{
    font-weight: 600;
    font-size: 24px;
}
.answer-demo{
    font-weight: 400;
    font-size: 20px;
}
.display-answer-button{
    border: none;
    color: blue;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    
}
.display-answer-button:hover{
    text-decoration: underline;
}
.buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.edit-button, .delete-button{
    
    font-size: 12px;
    background-color: transparent;
    height: 30px;
    border-radius: 15px;
    position: relative;
}
.edit-button{
    width: 30%;
    border: 2px solid green;
    color: green;
    }
.edit-button:hover{
    background-color: green;
    bottom: 7px;
    color: black;
    box-shadow: 2px 2px 10px black;
}
.delete-button:hover{
    background-color: rgb(250, 125, 125);
    bottom: 7px;
    color: black;
    box-shadow: 2px 2px 10px black;
}
.delete-button{
    border: 2px solid rgb(250, 125, 125);
    color: rgb(250, 125, 125);
    width: 35%;
}
.card-array{
    display: grid;
    grid-template-columns: auto auto auto;
    /* grid-template-columns: 70px 70px 70px; */
    align-content: center;
    row-gap: 30px;
    column-gap: 30px;
}



